<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{template/layout/base_head_component.html :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: form-check-label-bold-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: font-awesome-load}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: main-min-height}"></th:block>

    <title>카카오 회원가입</title>
</head>
<body>
<div class="">
    <!-- 헤더 시작 -->
    <th:block th:replace="~{template/layout/base_body_component :: common-body-header}"></th:block>
    <!-- 헤더 끝 -->
</div>

<h1 class="d-flex justify-content-center m-3">카카오 회원가입</h1>
<div id="passwordHelp" class="d-flex justify-content-center md-3 form-text">카카오 회원가입 시 추가 정보가 필요하여 입력 부탁드립니다.</div>

<div class="container d-flex justify-content-center ">
    <form action="/oauth/kakao" method="post" th:object="${kakaoSaveReqDto}"
          class="border border-primary-subtle border-3 rounded p-3" id="kakaoSaveForm">
        <input type="hidden" name="attendanceStatus" value="Y">
        <input type="hidden" name="memberType" value="STUDENT">
        <div class="row">
            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="name">학생 이름</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="학생 이름"
                       th:errorclass="field-error">
                <div th:class="field-error" th:errors="*{name}">학생 이름 오류 메시지</div>
            </div>

            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="phoneNumber">학생 전화번호</label>
                <input type="text" class="form-control" oninput="autoHyphen(this)" maxlength="13" id="phoneNumber"
                       th:field="*{phoneNumber}" placeholder="학생 휴대 전화번호" th:errorclass="field-error"/>
                <div th:class="field-error" th:errors="*{phoneNumber}">학생 전화번호 오류 메시지</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="parentName">부모님 성함</label>
                <input type="text" class="form-control" id="parentName" th:field="*{parentName}" placeholder="부모님 성함"
                       th:errorclass="field-error">
                <div th:class="field-error" th:errors="*{parentName}">부모님 성함 오류 메시지</div>
            </div>

            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="parentPhoneNumber">부모님 전화번호</label>
                <input type="text" class="form-control" oninput="autoHyphen(this)" maxlength="13" id="parentPhoneNumber"
                       name="parentPhoneNumber" th:field="*{parentPhoneNumber}" placeholder="부모님 휴대 전화번호"
                       th:errorclass="field-error"/>
                <div th:class="field-error" th:errors="*{parentPhoneNumber}">부모님 전화번호 오류 메시지</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3 form-check">
                <label class="form-check-label mb-2" for="userId">아이디</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="userId" th:field="*{KakaoAccount.email}"
                           th:errorclass="field-error" maxlength="20" readonly>
                </div>
                <div th:class="field-error" th:errors="*{KakaoAccount.email}">아이디 오류 메시지</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="classType">학교 단계</label>
                <select class="form-select" id="classType" name="classType" th:errorclass="field-error">
                    <option selected value="">학교 단계를 선택 하세요.</option>
                    <option value="ELEMENTARY">초등학생</option>
                    <option value="MIDDLE">중학생</option>
                    <option value="HIGH">고등학생</option>
                </select>
                <div th:class="field-error" th:errors="*{classType}">학급 오류 메시지</div>
            </div>

            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="schoolName">학교 이름</label>
                <input type="text" class="form-control" id="schoolName" th:field="*{schoolName}" placeholder="학교 이름"
                       th:errorclass="field-error">
                <div th:class="field-error" th:errors="*{schoolName}">학교 이름 오류 메시지</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="grade">학년</label>
                <select class="form-select" name="grade" id="grade" th:errorclass="field-error">
                    <option selected value="">학년을 선택 하세요.</option>
                    <option value="1">1학년</option>
                    <option value="2">2학년</option>
                    <option value="3">3학년</option>
                    <option value="4">4학년</option>
                    <option value="5">5학년</option>
                    <option value="6">6학년</option>
                </select>
                <div th:class="field-error" th:errors="*{grade}">학년 오류 메시지</div>
            </div>

            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="gender">성별</label>
                <div class="input-group" id="gender">
                    <div class="form-check form-check-inline" readonly>
                        <input class="form-check-input" type="radio" id="male" value="MALE" name="gender">
                        <label class="form-check-label" for="male">남</label>
                    </div>

                    <div class="form-check form-check-inline" readonly>
                        <input class="form-check-input" type="radio" id="female" value="FEMALE" name="gender">
                        <label class="form-check-label" for="female">여</label>
                    </div>
                </div>
                <div th:class="field-error" th:errors="*{gender}">성별 오류 메시지</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="address">주소</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="address" readonly>
                    <input type="hidden" id="streetAddress" th:field="*{Address.streetAddress}">
                    <input type="hidden" id="zipCode" th:field="*{Address.zipCode}">
                    <button type="button" class="btn btn-outline-primary" onclick="openZipSearch()">주소 검색</button>
                </div>
                <div th:class="field-error" th:errors="*{address.streetAddress}">주소 오류 메시지</div>

            </div>

            <div class="col-md-6 mb-3 form-check">
                <label class="form-check-label mb-2" for="address">상세 주소</label>
                <input type="text" class="form-control" id="detail_address" th:field="*{Address.detailAddress}">
                <div th:class="field-error" th:errors="*{address.detailAddress}">주소 오류 메시지</div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5 mb-5">
            <button type="submit" class="btn btn-primary btn mb-3 me-3">회원가입</button>
            <button type="button" class="btn btn-danger btn mb-3" onclick="history.back()">뒤로 가기</button>
        </div>

    </form>
</div>
<!-- footer 시작 -->
<th:block th:replace="~{template/layout/base_body_component :: common-body-footer}"></th:block>
<!-- footer 끝 -->
<!-- 하이픈 자동 추가 -->
<script>
    const autoHyphen = (target) => {
        target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
    }

</script>

<!-- 폼 숫자 입력 함수 -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var numericInputs = document.querySelectorAll('.numeric-only');

        numericInputs.forEach(function (input) {
            input.addEventListener('input', enforceNumericOnly);
        });
    });

    function enforceNumericOnly(event) {
        event.target.value = event.target.value.replace(/[^0-9]/g, '');
    }
</script>


<!-- 다음 우편주소 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function openZipSearch(data) {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                document.getElementById("zipCode").value = data.zonecode;
                document.getElementById("address").value = addr;
                document.getElementById("streetAddress").value = addr;
                document.getElementById("detail_address").focus();
            }
        }).open();
    }
</script>

<script type="text/javascript">
    window.onload = function () {
        alert('회원가입 되지 않은 계정으로, 회원가입을 진행합니다. \n추가 정보를 입력해주세요.');
        var form = document.getElementById('kakaoSaveForm');
        if (form) {
            form.onsubmit = function (event) {
                // 폼 전송 확인
                if (!confirm("회원가입을 진행 하시겠습니까?")) {
                    event.preventDefault(); // 폼 전송을 막음
                    return false;
                }
                window.onbeforeunload = null; // 페이지 이탈 경고 제거
            };
        }

        window.onbeforeunload = function () {
            return "데이터가 아직 저장되지 않았습니다. 페이지를 벗어나시겠습니까?";
        };
    }
</script>
<!-- 폼 전송 전 확인-->
<script>
    function confirmSubmit() {
        var confirmAction = confirm("회원가입을 진행 하시겠습니까?");
        if (confirmAction) {
            // 사용자가 '확인'을 클릭한 경우 전송
            document.getElementById("kakaoSaveForm").submit();
        } else {
            // 사용자가 '취소' 클릭 한 경우 전송 취소
            return false;
        }
    }
</script>


</div>
</body>
</html>
