spring:

  datasource:
    url: {input_your_source_db_url}
    username: {username}
    password: {user_password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  profiles:
    active: local
    include: secret

  jpa:
#    database-platform: org.hibernate.dialect.H2Dialect TODO: db 변경 시 세팅하기
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

  messages:
    basename: messages, errors

  mail:
    host: smtp.gmail.com
    port: 587
    username: { Input User Email }
    password: { Input smtp App Key }
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    auth-code-expiration-millis: 1800000  # 30 * 60 * 1000 == 30분

  redis:
    uri: redis://localhost:6379


logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

# turn off the error-page option provided by default in spring boot
server:
  error:
    whitelabel:
      enabled: false
  servlet:
    session:
      tracking-modes: cookie

kakao:
  client_id: {사용자 애플리케이션 REST API 키 삽입} # REST API 앱키
  redirect_uri: http://localhost:8080/oauth/kakao

