<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{template/layout/base_head_component :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: font-awesome-load}"></th:block>
    <title>학급 페이지 입니다.</title>
</head>
<body>

<!-- 헤더 시작 -->
<th:block th:replace="~{template/layout/base_body_component :: common-body-header}"></th:block>
<!-- 헤더 끝 -->

<!--브레드 크럼 시작-->
<ol class="breadcrumb p-3 bg-body-tertiary rounded-3" id="breadcrumb">
    <li class="breadcrumb-item">
        <a class="link-body-emphasis text-dark" href="/">
            <i class="fa-solid fa-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" id="breadcrumb__value">학생 목록</li>
</ol>
<!--브레드 크럼 끝-->

<!-- 학급 목록 테이블 시작 -->
<div class="container-fluid ">
    <div class="row">
        <!-- 사이드바 -->
        <th:block th:replace="~{template/layout/base_body_component :: common-body-sidebar}"></th:block>

        <div class="col-md-10 container">
            <h2 class="text-center">학급 목록</h2>

            <!-- 학급 추가 버튼 시작 -->
            <button class="btn btn-outline-primary ml-2 float-start"
                    th:onclick="|location.href='@{/class/create(teacherId=${session.loginMember.id})}'|"
                    th:text="|학급 생성하기|">등록하기
            </button>
            <!-- 학급 추가 버튼 끝 -->


            <!-- 폼 검색 바-->
            <form action="#" id="searchForm" th:action="@{/class/list/{teacherId}(teacherId=${session.loginMember.id})}"
                  method="get"
                  th:object="${classRoomSearchReqDto}">
                <input type="hidden" name="page" th:value="${pagingResult != null ? pagingResult.number : 0}"/>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <select class="form-select" id="searchType" name="searchType">
                            <option th:each="type : ${searchTypeOptions}" th:value="${type.name()}"
                                    th:field="*{searchType}"
                                    th:text="${type.description}" th:errorclass="field-error"
                                    class="field-error"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('searchType')}" th:errors="*{searchType}"
                             class="field-error"
                             role="alert">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <input type="text" class="form-control" id="content" th:field="*{content}"
                                   placeholder="검색">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-primary" onclick="resetPage()">검색</button>
                                <button type="button"
                                        th:onclick="|location.href='@{/class/{teacherId}(teacherId=${session.loginMember.id})}'|"
                                        class="btn btn-outline-primary">초기화
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 폼 검색 바 끝-->

            <!--페이지 결과 테이블이 렌더링 될 부분 시작-->
            <div class="main-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">학급 구분</th>
                        <th scope="col">이름</th>
                        <th scope="col">수업 구분</th>
                        <th scope="col">학생 수</th>
                        <th scope="col">기본 정보 수정</th>
                        <th scope="col">학생 관리</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="class : ${pagingResult}">
                        <th scope="row" th:text="${class.classType.description}"></th>
                        <td th:text="${class.name}"></td>
                        <td th:text="${class.classInfo}"></td>
                        <td th:text="${class.classSize}"></td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm mb-3 me-3"
                                    th:onclick="|location.href='@{/class/{id}/basic/info(id=${class.classId}, teacherId=${session.loginMember.id})}'|">
                                수정
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm mb-3 me-3"
                                    th:onclick="|location.href='@{/class/{id}/student/info(id=${class.classId}, teacherId=${session.loginMember.id})}'|">
                                관리
                            </button>
                        </td>
                        <td>
                            <form method="post" th:action="@{/class/delete/{classId}(classId=${class.classId})}"
                                  class="d-inline">
                                <input type="hidden" name="teacherId" th:value="${session.loginMember.id}">
                                <button type="submit" class="btn btn-outline-danger btn-sm mb-3 me-3"
                                        onclick="return confirmDelete()">학급 삭제
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--페이지 결과 테이블이 렌더링 될 부분 끝-->

            <div class="pagingNation-control">
                <!--페이지네이션 시작-->
                <nav th:if="${pagingResult != null && !pagingResult.isEmpty() && classRoomSearchReqDto.searchType != null && classRoomSearchReqDto.content != null}"
                     aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!pagingResult.hasPrevious()} ? 'disabled'">
                            <a class="page-link" data-page="0"
                               th:href="@{|?page=0&searchType=${classRoomSearchReqDto.searchType}&content=${classRoomSearchReqDto.content}|}">&laquo;</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasPrevious()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.number - 1}"
                               th:href="@{|?page=${pagingResult.number - 1}&searchType=${classRoomSearchReqDto.searchType}&content=${classRoomSearchReqDto.content}|}">Previous</a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(0, pagingResult.totalPages-1)}"
                            th:if="${page >= pagingResult.number-5 and page <= pagingResult.number+5}"
                            th:classappend="${page == pagingResult.number} ? 'active'">
                            <a th:text="${page + 1}" class="page-link" th:data-page="${page}"
                               th:href="@{|?page=${page}&searchType=${classRoomSearchReqDto.searchType}&content=${classRoomSearchReqDto.content}|}">페이지
                                표시</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasNext()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.number + 1}"
                               th:href="@{|?page=${pagingResult.number + 1}&searchType=${classRoomSearchReqDto.searchType}&content=${classRoomSearchReqDto.content}|}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasNext()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.totalPages - 1}"
                               th:href="@{|?page=${pagingResult.totalPages - 1}&searchType=${classRoomSearchReqDto.searchType}&content=${classRoomSearchReqDto.content}|}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
                <!--페이지네이션 끝-->

                <!--페이지네이션 시작-->
                <nav th:if="${pagingResult != null && !pagingResult.isEmpty() && classRoomSearchReqDto.searchType == null && classRoomSearchReqDto.content == null}"
                     aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!pagingResult.hasPrevious()} ? 'disabled'">
                            <a class="page-link" data-page="0" th:href="@{|?page=0|}">&laquo;</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasPrevious()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.number - 1}"
                               th:href="@{|?page=${pagingResult.number - 1}|}">Previous</a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(0, pagingResult.totalPages-1)}"
                            th:if="${page >= pagingResult.number-5 and page <= pagingResult.number+5}"
                            th:classappend="${page == pagingResult.number} ? 'active'">
                            <a th:text="${page + 1}" class="page-link" th:data-page="${page}"
                               th:href="@{|?page=${page}|}">페이지
                                표시</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasNext()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.number + 1}"
                               th:href="@{|?page=${pagingResult.number + 1}|}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasNext()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.totalPages - 1}"
                               th:href="@{|?page=${pagingResult.totalPages - 1}|}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
                <!--페이지네이션 끝-->
            </div>
            <!--페이지 결과가 렌더링 될 부분 끝-->
        </div>
    </div>
    <!-- 학급 목록 테이블 끝 -->
</div>


<script>
    function confirmDelete() {
        const isConfirmed = confirm("정말로 이 학급을 삭제 하시겠습니까?");
        return isConfirmed;
    }
</script>

</body>
</html>