<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{template/layout/base_head_component :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: font-awesome-load}"></th:block>
    <title>학급 정보 페이지 입니다.</title>
</head>
<body>

<!-- 헤더 시작 -->
<header class="d-flex flex-wrap justify-content-center mb-2 border-bottom">
    <th:block th:replace="~{template/layout/base_body_component :: common-body-header-home-logo}"></th:block>

    <!--로그인이 되지 않았을 때 보여줄 버튼 시작-->
    <div th:if="${session.loginMember == null}" class="d-flex justify-content-center align-items-center">
        <a class="btn btn-outline-secondary btn-sm me-md-1" href="/login" role="button" th:text="로그인">login</a>
        <a class="btn btn-info btn-sm me-2" href="/join" role="button" th:text="회원가입">join</a>
    </div>
    <!--로그인이 되지 않았을 때 보여줄 버튼 끝-->

    <!--로그인이 되었을 때 보여줄 버튼 시작-->
    <div th:if="${session.loginMember != null}" class="d-flex justify-content-center align-items-center me-2">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <!--                <button type="button" class="btn btn-primary">button 1</button>-->
            <!--  TODO: 여기 관리자 페이지 링크 추가하기  -->
            <button type="button" class="btn btn-primary">관리자 페이지로 이동</button>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="dropdown-item">
                            <i class="fa-solid fa-heart"></i>
                            <span th:text="|${session.loginMember.name}님|"></span>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-item">
                            <i class="fa-solid fa-user-gear"></i>
                            <a th:href="@{/edit/{id}(id=${session.loginMember.id})}"
                               class="link-dark text-decoration-none">내 정보 수정</a>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-item">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <form method="post" action="/logout" class="d-inline">
                                <button type="submit" class="btn btn-link p-0 m-0 link-dark text-decoration-none">
                                    로그아웃
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!--로그인이 되었을 때 보여줄 버튼 끝-->
</header>
<!-- 헤더 끝 -->


<div class="container mt-3" th:object="${classRoomDetailInfoDto}">

    <!--학급 기본 정보 수정 폼 시작-->
    <form action th:action="@{/class/create}" method="post"
          class="border border-primary-subtle border-3 rounded p-3">
        <div class="row">

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="학급 이름" th:field="*{name}">
            </div>
            <div class="col-md-3">
                <select id="classType" th:field="*{classType}" class="form-select" aria-label="Default select example">
                    <option value="ELEMENTARY">초등</option>
                    <option value="MIDDLE">중등</option>
                    <option value="HIGH">고등</option>
                </select>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="학급 정보" th:field="*{classInfo}">
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-1">기본 정보 수정</button>
            </div>

        </div>
    </form>
    <!--학급 기본 정보 수정 폼 끝-->

    <div class=" mt-1 border border-primary-subtle border-3 rounded p-3">
        <!-- 학생 목록 시작 -->
        <h3>학생 목록</h3>
        <ul class="list-group" id="outside-student-list" th:each="student, studentStat : *{studentList}">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" th:id="|checkbox${studentStat.index}|">
                <label class="form-check-label" th:for="|checkbox${studentStat.index}|" th:value="${student.id}"
                       th:text="|${student.schoolName} ${student.grade}학년 ${student.name}|">학생 이름</label>
            </li>
        </ul>

        <!-- 모달 창 시작 -->
        <!-- Button trigger modal -->
        <button id="modalTriggerButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            학생을 먼저 추가해 주세요
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">학생 검색</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <!--검색 바 시작-->
                        <form id="searchForm" th:action="@{/search}" method="get">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                                <input name="content" type="text" class="form-control" placeholder="검색" aria-label="검색"
                                       aria-describedby="basic-addon1">
                                <input type="submit" value="검색" class="btn btn-outline-primary student__search__bar">
                            </div>
                        </form>
                        <!--검색 바 끝-->

                        <div class="main-content">
                        </div>

                        <!--추가하기를 눌러 선택된 학생 목록을 보여줄 부분-->
                        <div id="selected-students">
                            <h3>선택된 학생 목록</h3>
                            <ul id="selected-students-list"></ul>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="add-students-button" type="button" class="btn btn-primary">학생 선택 완료</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 모달 창 끝 -->

        <button type="button" class="btn btn-primary btn-sm">학생 추가</button>
        <button type="button" class="btn btn-primary btn-sm">전체 선택/해제</button>
        <button type="button" class="btn btn-primary btn-sm">선택한 학생 삭제</button>

        <!-- 학생 목록 끝 -->
    </div>

    <div class=" mt-1 border border-primary-subtle border-3 rounded p-3">
        <!-- 알림장 작성 폼 시작 -->
        <h3>알림장 작성</h3>
        <textarea class="form-control" rows="5" placeholder="알림장 내용을 여기에 작성하세요."></textarea>
        <button type="button" class="btn btn-primary mt-2">알림장 보내기</button>
        <!-- 알림장 작성 폼 끝 -->
    </div>



    <!-- 숙제 및 알림장 목록 -->
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">내용</th>
            <th scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>
        <!-- 여기에 숙제 및 알림장 정보를 동적으로 추가 -->
        </tbody>
    </table>
</div>

<script>
    $("#searchForm").submit(function (event) {
        event.preventDefault(); // 폼 제출 기본 동작을 중지합니다.

        var formData = $(this).serialize(); // 폼 데이터를 가져옵니다.
        var url = $(this).attr('action'); // 폼의 액션 URL을 가져옵니다.

        $.ajax({
            url: url,
            type: 'GET',
            data: formData,
            dataType: 'json',
            success: function (response) {

                $(".main-content").empty(); // ".main-content" 내용을 비우기. 새로운 내용으로 채우기 위함

                if (response.errorResult !== null) {
                    var errorMessage = response.errorResult.message;
                    displayErrorMessage(errorMessage);
                } else {
                    var resultHtml =
                        '<table class="table table-hover">' +
                        '<thead>' +
                        '    <tr>' +
                        '        <th scope="col">학교명</th>' +
                        '        <th scope="col">학년</th>' +
                        '        <th scope="col">이름</th>' +
                        '        <th scope="col"></th>' +
                        '    </tr>' +
                        '</thead>' +
                        '<tbody>';

                    // 각 학생 정보에 대한 행을 추가
                    $.each(response.data, function (index, student) {
                        resultHtml +=
                            '<tr>' +
                            '    <td>' +
                            '        <a href="/record/' + student.id + '">' + student.schoolName + '</a>' +
                            '    </td>' +
                            '    <td>' +
                            '        <a href="/record/' + student.id + '">' + student.grade + '</a>' +
                            '    </td>' +
                            '    <td>' +
                            '        <a href="/record/' + student.id + '">' + student.name + '</a>' +
                            '    </td>' +
                            '    <td>' +
                            '        <button class="btn btn-primary add-student-button add-student-button" data-id="' + student.id + '">추가</button>' + // '추가' 버튼 추가
                            '    </td>' +
                            '</tr>';
                    });

                    resultHtml += '</tbody></table>';

                    // 결과 HTML을 ".main-content"에 추가
                    $(".main-content").empty().append(resultHtml);

                }

            },
            error: function (xhr, status, error) {
                var errorMessage = "검색어를 입력하지 않습니다.";
                displayErrorMessage(errorMessage);
            }
        });
    });

    function displayErrorMessage(message) {
        var errorHtml = '<div class="alert alert-danger text-center">' + message + '</div>';
        $(".main-content").html(errorHtml);
    }

    // 선택된 학생 목록을 저장하기 위한 배열
    var selectedStudents = [];

    // '추가' 버튼 클릭 이벤트 처리
    $(document).on('click', '.add-student-button', function () {
        var studentId = $(this).data('id');
        var studentSchoolName = $(this).closest('tr').find('td:eq(0) a').text();
        var studentGrade = $(this).closest('tr').find('td:eq(1) a').text();
        var studentName = $(this).closest('tr').find('td:eq(2) a').text();

        // 동일한 학생이 이미 목록에 있는지 확인
        var isStudentAlreadySelected = selectedStudents.some(function (student) {
            return student.id === studentId;
        });

        if (!isStudentAlreadySelected) {
            // 선택된 학생 정보 객체 생성
            var studentInfo = {
                id: studentId,
                schoolName: studentSchoolName,
                grade: studentGrade,
                name: studentName
            };

            // 학생 목록에 추가
            selectedStudents.push(studentInfo);

            // 선택된 학생 목록 업데이트
            updateSelectedStudentsList();
        } else {
            // 선택된 학생이 이미 목록에 있을 경우, 사용자에게 알림
            alert('이미 추가된 학생입니다.');
        }
    });

    // 선택된 학생 목록을 업데이트하는 함수
    function updateSelectedStudentsList() {
        var listHtml = '';
        $.each(selectedStudents, function (index, student) {
            listHtml += '<li>' + student.schoolName + ' ' + student.grade + '학년 ' + student.name +
                ' <button class="btn btn-danger remove-student-button btn-sm ml-1" data-id="' + student.id + '">취소</button></li>'; // '취소' 버튼 추가
        });
        $('#selected-students-list').html(listHtml);
    }

    // '취소' 버튼 클릭 이벤트 처리
    $(document).on('click', '.remove-student-button', function () {
        var studentId = $(this).data('id');

        // 선택된 학생 목록에서 해당 학생을 찾아 삭제
        selectedStudents = selectedStudents.filter(function (student) {
            return student.id !== studentId;
        });

        // 선택된 학생 목록 업데이트
        updateSelectedStudentsList();
    });

    // "학생 선택 완료" 버튼 클릭 이벤트 처리
    $('#add-students-button').click(function () {
        // 선택된 학생 목록을 하나의 문자열로 변환
        var selectedStudentsStr = selectedStudents.map(function (student) {
            return student.id + ' ';
        }).join('');

        // 숨겨진 입력 필드에 선택된 학생 목록 문자열을 설정
        $('#selectedStudentsInput').val(selectedStudentsStr);

        // 선택된 학생 목록을 보여주는 모달을 닫습니다.
        $('#staticBackdrop').modal('hide');
    });

</script>

</body>
</html>