<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="~{template/layout/base_head_component :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: date-picker-load}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: font-awesome-load}"></th:block>

    <title>피드백</title>
</head>
<body>

<!-- 헤더 시작 -->
<th:block th:replace="~{template/layout/base_body_component :: common-body-header}"></th:block>
<!-- 헤더 끝 -->

<!--브레드 크럼 시작-->
<ol class="breadcrumb p-3 bg-body-tertiary rounded-3" id="breadcrumb">
    <li class="breadcrumb-item">
        <a class="link-body-emphasis text-dark" href="/">
            <i class="fa-solid fa-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" id="breadcrumb-school">피드백 목록</li>
</ol>
<!--브레드 크럼 끝-->

<div class="container-fluid">
    <div class="row">
        <!-- 사이드바 시작 -->
        <th:block th:replace="~{template/layout/base_body_component :: common-body-sidebar}"></th:block>
        <!-- 사이드바 끝 -->


        <div class="col-10">
            <!--컨텐츠 이름 시작-->
            <div class="d-flex justify-content-between mb-3">
                <h3 th:text="|${studentName} 학생 피드백|">학생 피드백</h3>

                <a th:if="${session != null && #strings.equals(session.loginMember.memberType, 'TEACHER')}"
                   th:href="@{/record/create(studentId=${studentId})} "
                   class="btn btn-outline-primary" role="button"
                   aria-disabled="false" th:text="|피드백 작성하기|">피드백 작성하기
                </a>
            </div>
            <!--컨텐츠 이름 끝-->

            <!--검색 폼 시작-->
            <div>
                <form id="recordSearchForm" th:action="@{/record/list/{studentId}(studentId=${studentId})}"
                      th:object="${recordSearchDto}"
                      method="get">

                    <input type="hidden" name="page" th:value="${pagingResult.number}"/>

                    <!--점보트론 시작-->
                    <div class="p-3 border rounded-3 bg-light">
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" th:field="*{dates}"/>
                            </div>

                            <div class="col-4">
                                <!-- 셀렉트 박스 시작 -->
                                <select class="form-select" id="searchType" name="searchType">
                                    <option th:each="type : ${searchTypeOptions}" th:value="${type.name()}"
                                            th:field="*{searchType}"
                                            th:text="${type.description}" th:errorclass="field-error"
                                            class="field-error"></option>
                                </select>
                                <!-- 셀렉트 박스 끝 -->
                            </div>

                            <div class="col-4">
                                <div class="input-group mb-3">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fas fa-search"></i></span>
                                        <input type="text" th:field="*{content}" class="form-control" placeholder="검색"
                                               aria-label="검색"
                                               aria-describedby="basic-addon1">
                                        <input type="submit" value="검색" class="btn btn-outline-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--점보트론 끝-->
                </form>
            </div>
            <!--검색 폼 끝-->

            <!--테이블 렌더링 부분 시작-->
            <!-- recordList가 비어있을 때 메시지 표시 시작-->
            <div th:if="${pagingResult.isEmpty()}">
                <div class="alert alert-warning text-center" role="alert" th:text="#{record.noResult}">
                    피드백이 없습니다.
                </div>
            </div>
            <!-- recordList가 비어있을 때 메시지 표시 끝-->

            <div class="main-content" th:if="${!pagingResult.isEmpty()}">
                <!-- 페이징 시작-->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">피드백 번호</th>
                        <th scope="col">피드백 제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="record, recordStat : ${pagingResult}">
                        <th th:text="${recordStat.count}" scope="row">피드백 번호</th>
                        <td>
                            <a th:href="@{/record/detail/{recordId}(recordId=${record.recordId}, studentId=${studentId})}"
                               th:text="|${#temporals.format(record.createDate, 'yyyy년 MM월 dd일 HH:mm')} 작성 피드백|"></a>
                        </td>
                        <td th:text="|${record.teacherName}|">작성자</td>
                    <tr>
                    </tr>
                    </tbody>
                </table>
                <!-- 페이징 끝-->

                <!--페이지네이션 시작-->
                <nav th:if="${pagingResult != null && !pagingResult.isEmpty() && recordSearchDto.searchType != null && recordSearchDto.content != null && recordSearchDto.dates != null}"
                     aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!pagingResult.hasPrevious()} ? 'disabled'">
                            <a class="page-link" data-page="0"
                               th:href="@{|?page=0&dates=${recordSearchDto.dates}&searchType=${recordSearchDto.searchType}&content=${recordSearchDto.content}|}">&laquo;</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasPrevious()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.number - 1}"
                               th:href="@{|?page=${pagingResult.number - 1}&dates=${recordSearchDto.dates}&searchType=${recordSearchDto.searchType}&content=${recordSearchDto.content}|}">Previous</a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(0, pagingResult.totalPages-1)}"
                            th:if="${page >= pagingResult.number-5 and page <= pagingResult.number+5}"
                            th:classappend="${page == pagingResult.number} ? 'active'">
                            <a th:text="${page + 1}" class="page-link" th:data-page="${page}"
                               th:href="@{|?page=${page}&dates=${recordSearchDto.dates}&searchType=${recordSearchDto.searchType}&content=${recordSearchDto.content}|}">페이지
                                표시</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasNext()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.number + 1}"
                               th:href="@{|?page=${pagingResult.number + 1}&dates=${recordSearchDto.dates}&searchType=${recordSearchDto.searchType}&content=${recordSearchDto.content}|}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasNext()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.totalPages - 1}"
                               th:href="@{|?page=${pagingResult.totalPages - 1}&dates=${recordSearchDto.dates}&searchType=${recordSearchDto.searchType}&content=${recordSearchDto.content}|}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
                <!--페이지네이션 끝-->

                <!--페이지네이션 시작-->
                <nav th:if="${pagingResult != null && !pagingResult.isEmpty() && recordSearchDto.searchType == null && recordSearchDto.content == null}"
                     aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!pagingResult.hasPrevious()} ? 'disabled'">
                            <a class="page-link" data-page="0" th:href="@{|?page=0|}">&laquo;</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasPrevious()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.number - 1}"
                               th:href="@{|?page=${pagingResult.number - 1}|}">Previous</a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(0, pagingResult.totalPages-1)}"
                            th:if="${page >= pagingResult.number-5 and page <= pagingResult.number+5}"
                            th:classappend="${page == pagingResult.number} ? 'active'">
                            <a th:text="${page + 1}" class="page-link" th:data-page="${page}" th:href="@{|?page=${page}|}">페이지
                                표시</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasNext()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.number + 1}"
                               th:href="@{|?page=${pagingResult.number + 1}|}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${!pagingResult.hasNext()} ? 'disabled'">
                            <a class="page-link" th:data-page="${pagingResult.totalPages - 1}"
                               th:href="@{|?page=${pagingResult.totalPages - 1}|}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
                <!--페이지네이션 끝-->
            </div>
            <!--테이블 렌더링 부분 끝 -->
        </div>
    </div>
</div>


<script>

    $(function () {
        $('input[name="dates"]').daterangepicker({
            locale: {
                format: 'YYYY/MM/DD'
            },
            ranges: {
                '오늘': [moment(), moment()],
                '지난 7일': [moment().subtract(6, 'days'), moment()],
                '이번 달': [moment().startOf('month'), moment().endOf('month')],
                '지난 달': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        });
    });



</script>

</body>
</html>