<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--  toast ui css link tag  -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>

    <style>
        /* 필드 오류 css */
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>Document</title>
</head>
<body>

<!-- 네비바 시작 -->
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="home.html" th:href="@{/}">
            <!-- 로고 이미지 추가 -->
            <img src="로고 화면 링크 추가하기"
                 alt="홈 화면으로 가기" width="30" height="24">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<!-- 네비바 끝-->

<!--컨테이너 시작-->
<div class="container d-flex flex-column justify-content-center mt-5 p-2">

    <form th:action="@{/record/create}" th:object="${recordSaveReqDTO}" method="post">

        <div class="mb-3">
            <h3 class="my-3 border-bottom pb-2">피드백 등록</h3>
        </div>

        <div class="field-error" th:errors="*{studentId}">오류 입니다.</div>
        <div class="field-error" th:errors="*{teacherId}">오류 입니다.</div>


        <!-- 학생 & 선생 id -->
        <input type="hidden" name="studentId" th:field="*{studentId}" th:errorclass="field-error" class="form-control"/>
        <input type="hidden" name="teacherId" th:field="*{teacherId}" th:errorclass="field-error" class="form-control"/>

        <div id="editor"></div>
        <!-- 토스트 UI 에디터와 동기화될 숨겨진 textarea 추가 -->
        <textarea style="display: none;" th:errorclass="field-error" th:field="*{content}"></textarea>

        <div class="field-error" th:errors="*{content}">내용 오류 입니다.</div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">

    </form>

</div>
<!--컨테이너 끝-->


<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<!-- TOAST UI Editor 생성 JavaScript 코드 -->
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'), // 에디터를 적용할 요소 (컨테이너)
        height: '500px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
        initialEditType: 'wysiwyg',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
        previewStyle: 'vertical'                // 마크다운 프리뷰 스타일 (tab || vertical)
    });

    const form = document.querySelector('form'); // 폼 선택

    form.addEventListener('submit', function () {
        // 토스트 UI 에디터의 현재 내용을 가져옵니다.
        const editorContent = editor.getMarkdown();
        // 숨겨진 textarea의 값으로 설정합니다.
        document.getElementById('content').value = editorContent;
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>
</html>