<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="~{template/layout/base_head_component :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: toast-editor-load}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: date-picker-load}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: font-awesome-load}"></th:block>

    <title>Document</title>
</head>
<body>

<!-- 헤더 시작 -->
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/img/time_logo.jpg" alt="홈으로 가기" width="40" height="40">
            <span class="fs-4">타임 영어 전문 학원</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">etc</a></li>
        </ul>

        <!-- TODO: 사용자 마이 페이지로 이동-->
        <a th:href="@{/edit/{id}(id=${session.loginMember.id})}" role="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" th:data-bs-title="${recordSearchDTO.studentName}">
            <i class="fa-regular fa-user"></i>
        </a>
    </header>
</div>
<!-- 헤더 끝 -->

<div class="container d-flex flex-column p-1">

    <!--  내용 & 작성자 날짜별 필터링 검색 폼 시작  -->
    <form th:action="@{/record/{studentId}(studentId=${studentId})}" th:object="${recordSearchDTO}" method="post">

        <!--점보트론 시작-->
        <div class="h-70 p-3 bg-body-tertiary border rounded-3">
            <!--검색 타입 라디오 버튼 시작-->
            <div class="d-flex flex-row">
                <div th:each="type : ${searchTypes}" class="form-check form-check-inline">
                    <input type="radio" th:value="${type.name()}" th:field="*{searchType}" th:errorclass="field-error"
                           class="form-check-input">
                    <label th:for="${#ids.prev('searchType')}" th:text="${type.description}"
                           class="form-check-label">조건</label>
                </div>

                <div th:class="field-error" th:errors="*{searchType}">타입 선택 오류</div>

            </div>
            <!--검색 타입 라디오 버튼 끝-->

            <hr> <!-- 구분선 추가 -->

            <div class="container text-center">
                <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                            <input type="text" th:field="*{content}" class="form-control" placeholder="검색"
                                   aria-label="검색"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" th:field="*{dates}"/>
                            <input type="submit" value="검색" class="btn btn-outline-primary">
                        </div>
                    </div>
                </div>

                <input type="hidden" th:field="*{studentName}">

            </div>
        </div>
        <!--점보트론 끝-->

    </form>
    <!--  내용 & 작성자 날짜별 필터링 검색 폼 끝  -->


    <!-- 아코디언 위에 버튼 추가 -->
    <div class="d-flex justify-content-end mb-3">
        <button id="toggleAccordion" class="btn btn-secondary btn-sm me-1">모두 펼치기/닫기</button>
        <a href="#" th:href="@{/record/create(studentId=${studentId})} " class="btn btn-primary btn-sm" role="button"
           aria-disabled="false" th:text="|피드백 작성하기|">피드백 작성하기</a>
    </div>

    <!-- recordList가 비어있을 때 메시지 표시 -->
    <div th:if="${recordList.isEmpty()}">
        <div class="alert alert-warning text-center" role="alert" th:text="#{record.noResult}">
            피드백이 없습니다.
        </div>
    </div>

    <div class="accordion" id="recordAccordionPanels" th:if="${!recordList.isEmpty()}"
         th:each="record, recordStat : ${recordList}">


        <div class="accordion-item">

            <h2 class="accordion-header" th:id="'recordPanel-header' + ${recordStat.count}">
                <button th:text="|${#temporals.format(record.createDate, 'yyyy년 MM월 dd일 HH:mm')} 작성 피드백|"
                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        th:data-bs-target="'#recordCollapse' + ${recordStat.count}" aria-expanded="false"
                        th:aria-controls="'recordCollapse' + ${recordStat.count}">
                    피드백 이름
                </button>
            </h2>

            <div th:id="'recordCollapse' + ${recordStat.count}" class="accordion-collapse collapse"
                 th:aria-labelledby="'recordPanel-header'+ ${recordStat.count}" data-bs-parent="recordAccordionPanels">
                <div class="accordion-body">
                    <h5 th:text="|작성자: ${record.teacherName}|">작성자</h5>
                    <div class="markdown-content" th:text="${record.content}">
                    </div>
                    <a href="#"
                       th:href="@{/record/update/{recordId}(recordId=${record.recordId}, studentId=${studentId})} "
                       class="btn btn-primary btn-sm" role="button" aria-disabled="false" th:text="수정하기">수정하기</a>
                    <a href="#" class="btn btn-danger btn-sm" role="button" aria-disabled="false"
                       th:text="삭제하기">삭제하기</a>
                </div>
            </div>

        </div>

        <div class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 11">
            <div id="deleteToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">피드백 삭제</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <strong class="me-auto d-flex justify-content-center">삭제하시겠습니까?</strong>
                </div>

                <div class="d-flex flex-row justify-content-around">
                    <a href="#"
                       th:href="@{/record/delete/{recordId}(recordId=${record.recordId}, studentId=${studentId})} "
                       class="btn btn-danger btn-sm" role="button" aria-disabled="false" th:text="삭제">삭제</a>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast" aria-label="Close"
                            th:text="취소"></button>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    // 모든 아코디언 토글 상태를 추적하는 변수
    let isAllAccordionExpanded = false;

    // 모든 아코디언을 펼치거나 닫는 함수
    function toggleAllAccordions() {
        const accordions = document.querySelectorAll('.accordion-collapse');
        accordions.forEach((accordion) => {
            if (isAllAccordionExpanded) {
                // Bootstrap 5에서는 new bootstrap.Collapse()를 사용하여 토글
                new bootstrap.Collapse(accordion, {toggle: false}).hide();
            } else {
                new bootstrap.Collapse(accordion, {toggle: false}).show();
            }
        });
        // 토글 상태 업데이트
        isAllAccordionExpanded = !isAllAccordionExpanded;
    }

    // 버튼에 이벤트 리스너 추가
    document.getElementById('toggleAccordion').addEventListener('click', toggleAllAccordions);


    document.querySelectorAll('a[role="button"]').forEach(button => {
        button.addEventListener('click', function (event) {
            if (this.textContent === '삭제하기') {
                // event.preventDefault(); // 기본 동작(링크 이동)을 방지
                const toastElement = document.getElementById('deleteToast');
                const toast = new bootstrap.Toast(toastElement);
                toast.show(); // 토스트 창 표시
            }
        });
    });

    // 토스트 ui 뷰어 렌더링 함수
    // 페이지 로드 시 실행되는 함수
    document.addEventListener('DOMContentLoaded', (event) => {
        // 마크다운 내용을 표시할 모든 요소를 선택
        document.querySelectorAll('.markdown-content').forEach((element) => {
            // 요소 내부의 텍스트(마크다운 형식)를 가져옴
            const markdown = element.textContent.trim();

            // Toast UI Editor Viewer 인스턴스 생성
            const viewer = new toastui.Editor.factory({
                el: element, // 마크다운을 표시할 요소
                viewer: true, // Viewer 모드 활성화
                initialValue: markdown // 초기 표시할 마크다운 내용
            });
        });
    });

    $(function () {
        $('input[name="dates"]').daterangepicker({
            locale: {
                format: 'YYYY/MM/DD'
            },
            ranges: {
                '오늘': [moment(), moment()],
                '지난 7일': [moment().subtract(6, 'days'), moment()],
                '이번 달': [moment().startOf('month'), moment().endOf('month')],
                '지난 달': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        });
    });

    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

</body>
</html>