<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{template/layout/base_head_component :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: font-awesome-load}"></th:block>
</head>
<body>

<!--점보트론 시작-->
<div class="p-5 text-center rounded-3">
    <i class="fas fa-regular fa-triangle-exclamation fa-4x" style="color: #d62b1f;"></i>
    <h1 class="display-5 fw-bold">처리할 수 없는 요청입니다.</h1>
    <h2 class="display-5 fw-bold">Q&A에 문의주세요.</h2>

    <div class="d-inline-flex gap-2 mb-5">
        <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button"
                th:onclick="|location.href='/'|">
            홈으로
        </button>
    </div>
</div>

<!--점보트론 끝-->

</body>
</html>
