<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="~{template/layout/base_head_component :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: font-awesome-load}"></th:block>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>

<div class="p-2">
    <!-- 헤더 시작 -->
    <th:block th:replace="~{template/layout/base_body_component :: common-body-header}"></th:block>
    <!-- 헤더 끝 -->
    <!--브레드 크럼 시작-->
    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3" id="breadcrumb">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis text-dark" href="/">
                <i class="fa-solid fa-house"></i>
                <!--                <span class="visually-hidden">Home</span>-->
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" id="breadcrumb-school">Home</li>
    </ol>
    <!--브레드 크럼 끝-->

    <div class="container-fluid ">
        <div class="row">
            <!-- 사이드바 시작 -->
            <div class="col-md-2 bg-light">
                <div class="d-flex flex-column flex-shrink-0 p-3">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link fs-5 fw-semibold" aria-current="page">홈</a>
                        </li>
                        <hr class="dropdown-divider">

                        <li>
                            <!-- 초등학교 클릭 시 하위 목록 토글 -->
                            <a href="#collapse__elementary__school" class="nav-link fs-5 fw-semibold" data-bs-toggle="collapse">초등학교</a>
                            <div th:if="${elementarySchools != null}" class="collapse show" id="collapse__elementary__school">
                                <!--학교 목록 시작-->
                                <div class="list-group">
                                    <a th:each="name : ${elementarySchools}" th:href="@{/school(schoolName=${name})}" class="list-group-item list-group-item-action school-name-link" aria-current="true">
                                        <i class="fa-solid fa-chevron-right"></i> <span th:text="${name}">학교 이름</span>
                                    </a>
                                </div>
                                <!--학교 목록 끝-->
                            </div>
                        </li>
                        <li>
                            <a href="#collapse__middle__school" class="nav-link fs-5 fw-semibold" data-bs-toggle="collapse">중학교</a>
                            <div th:if="${middleSchools != null}" class="collapse show" id="collapse__middle__school">
                                <!--학교 목록 시작-->
                                <div class="list-group">
                                    <a th:each="name : ${middleSchools}" th:href="@{/school(schoolName=${name})}" class="list-group-item list-group-item-action school-name-link" aria-current="true">
                                        <i class="fa-solid fa-chevron-right"></i> <span th:text="${name}">학교 이름</span>
                                    </a>
                                </div>
                                <!--학교 목록 끝-->
                            </div>
                        </li>
                        <li>
                            <a href="#collapse__high__school" class="nav-link fs-5 fw-semibold" data-bs-toggle="collapse">고등학교</a>
                            <div th:if="${highSchools != null}" class="collapse show" id="collapse__high__school">
                                <!--학교 목록 시작-->
                                <div class="list-group">
                                    <a th:each="name : ${highSchools}" th:href="@{/school(schoolName=${name})}" class="list-group-item list-group-item-action school-name-link" aria-current="true">
                                        <i class="fa-solid fa-chevron-right"></i> <span th:text="${name}">학교 이름</span>
                                    </a>
                                </div>
                                <!--학교 목록 끝-->
                            </div>
                        </li>

                        <hr class="dropdown-divider mt-3">

                        <li>
                            <a th:href="@{/teacher/edit/{id}(id=${session.loginMember.id})}" class="nav-link fs-5 fw-semibold" aria-current="page">내 정보 관리</a>
                        </li>

                        <li th:if ="${#strings.equals(session.loginMember.memberType, 'TEACHER')}">
                            <a href="/student" class="nav-link fs-5 fw-semibold" >학생 관리 페이지</a>
                        </li>

                        <li th:if ="${!#strings.equals(session.loginMember.position, 'TEACHER')}">
                            <a href="/teacher" class="nav-link fs-5 fw-semibold" >선생 관리 페이지</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 사이드바 끝-->

            <div class="col-10 ">
                <div class="row">

                    <div class="col">
                        <!--검색 바 시작-->
                        <form id="searchForm" th:action="@{/search}" method="get">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                                <input name="content" type="text" class="form-control" placeholder="검색" aria-label="검색"
                                       aria-describedby="basic-addon1">
                                <input type="submit" value="검색" class="btn btn-outline-primary student__search__bar">
                            </div>
                        </form>
                        <!--검색 바 끝-->
                    </div>
                </div>

                <div class="main-content">
                    <div th:text="|학교를 선택해 주세요|" class="alert alert-warning text-center">
                        데이터가 선택되지 않았습니다.
                    </div>

                    <a th:href="@{/class/list}">학급 페이지 바로가기</a>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".school-name-link").click(function (event) {
            event.preventDefault(); // 기본 이벤트를 방지합니다.
            var href = $(this).attr('href'); // 클릭된 링크의 href 값을 가져옵니다.
            var schoolName = $(this).text().trim();

            $("#breadcrumb-school").text(schoolName)

            $.ajax({
                url: href, // 서버로 요청을 보낼 URL
                type: 'GET', // HTTP 요청 방식
                success: function (response) {
                    $(".main-content").empty()
                    if (response.errorResult !== null) {
                        var errorMessage = response.errorResult.message;
                        displayErrorMessage(errorMessage);
                    } else {
                        var resultHtml =
                            '<table class="table table-hover">' +
                            '<thead>' +
                            '    <tr>' +
                            '        <th scope="col">학년</th>' +
                            '        <th scope="col">이름</th>' +
                            '    </tr>' +
                            '</thead>' +
                            '<tbody>';

                        // 각 학생 정보에 대한 행을 추가
                        $.each(response.data, function (index, student) {
                            resultHtml +=
                                '<tr>' +
                                '    <td>' +
                                '        <a href="/record/' + student.id + '">' + student.grade + '</a>' +
                                '    </td>' +
                                '    <td>' +
                                '        <a href="/record/' + student.id + '">' + student.name + '</a>' +
                                '    </td>' +
                                '</tr>';
                        });

                        resultHtml += '</tbody></table>';

                        // 결과 HTML을 ".main-content"에 추가
                        $(".main-content").empty().append(resultHtml);
                    }

                },
                error: function (xhr, status, error) {
                    var errorMessage = "검색 결과를 불러오는 중 오류가 발생했습니다.";
                    displayErrorMessage(errorMessage);
                }
            });
        });

        $("#searchForm").submit(function (event) {
            event.preventDefault(); // 폼 제출 기본 동작을 중지합니다.

            var formData = $(this).serialize(); // 폼 데이터를 가져옵니다.
            var url = $(this).attr('action'); // 폼의 액션 URL을 가져옵니다.

            $.ajax({
                url: url,
                type: 'GET',
                data: formData,
                dataType: 'json',
                success: function (response) {

                    $(".main-content").empty(); // ".main-content" 내용을 비우기. 새로운 내용으로 채우기 위함

                    if (response.errorResult !== null) {
                        var errorMessage = response.errorResult.message;
                        displayErrorMessage(errorMessage);
                    } else {
                        var resultHtml =
                            '<table class="table table-hover">' +
                            '<thead>' +
                            '    <tr>' +
                            '        <th scope="col">학교명</th>' +
                            '        <th scope="col">학년</th>' +
                            '        <th scope="col">이름</th>' +
                            '    </tr>' +
                            '</thead>' +
                            '<tbody>';

                        // 각 학생 정보에 대한 행을 추가
                        $.each(response.data, function (index, student) {
                            resultHtml +=
                                '<tr>' +
                                '    <td>' +
                                '        <a href="/record/' + student.id + '">' + student.schoolName + '</a>' +
                                '    </td>' +
                                '    <td>' +
                                '        <a href="/record/' + student.id + '">' + student.grade + '</a>' +
                                '    </td>' +
                                '    <td>' +
                                '        <a href="/record/' + student.id + '">' + student.name + '</a>' +
                                '    </td>' +
                                '</tr>';
                        });

                        resultHtml += '</tbody></table>';

                        // 결과 HTML을 ".main-content"에 추가
                        $(".main-content").empty().append(resultHtml);
                    }

                },
                error: function (xhr, status, error) {
                    var errorMessage = "검색어를 입력하지 않습니다.";
                    displayErrorMessage(errorMessage);
                }
            });
        });

        function displayErrorMessage(message) {
            var errorHtml = '<div class="alert alert-danger text-center">' + message + '</div>';
            $(".main-content").html(errorHtml);
        }
    });

    // 학급 버튼 클릭 시 꺽쇠 변경 이벤트
    $(document).ready(function () {
        $(".school__name__type").click(function () {
            // 현재 클릭된 항목의 아이콘을 찾습니다.
            var icon = $(this).find(".fa-solid");

            // 아이콘이 'fa-chevron-right' 클래스를 가지고 있다면 'fa-chevron-down'으로 변경합니다.
            // 그렇지 않다면 'fa-chevron-right'으로 변경합니다.
            if (icon.hasClass("fa-chevron-right")) {
                icon.removeClass("fa-chevron-right").addClass("fa-chevron-down");
            } else {
                icon.removeClass("fa-chevron-down").addClass("fa-chevron-right");
            }
        });
    });

</script>
<script>

document.querySelectorAll('.nav-link').forEach(item => {
    item.addEventListener('click', function() {
        // 모든 nav-link에서 active 클래스 제거
        document.querySelectorAll('.nav-link').forEach(nav => {
            nav.classList.remove('active');
        });

        // 클릭된 항목에 active 클래스 추가
        this.classList.add('active');
    });
});

</script>


</body>
</html>