<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="~{template/layout/base_head_component :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>

    <title>Document</title>
</head>
<body>

<div class="pb-2 px-2">
    <div class="border border-primary border-2">
        <!-- 헤더 시작 -->
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <th:block th:replace="~{template/layout/base_body_component :: common-body-header-home-logo}"></th:block>
            </header>
        </div>
        <!-- 헤더 끝 -->
    </div>

    <div class="container-fluid    border border-warning border-3">
        <div class="row">

            <div class="col-3 text-center    border border-danger border-3">
                this is side bar
                <div th:each="num : ${#numbers.sequence(1, 30)}" class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action" th:text="|school name ${num}|">The
                        current link item</a>
                </div>
            </div>

            <div class="col-9     border border-success border-3">
                <div class="row">

                    <div class="col-2 border border-success border-3">
                        this is select bar
                    </div>

                    <div class="col  border border-primary border-3">
                        this is search bar
                    </div>
                </div>

                <div class="     border border-danger border-3">
                    this is main content
                    <p>Please select an option</p>
                    <ol>
                        <li><a href="record/recordList.html" th:href="@{/record/1}">학생에 대한 레코드 리스트 화면 개발 페이지 바로가기</a>
                        </li>
                        <li><a href="/login">로그인 페이지</a></li>
                        <li><a href="/join">회원가입 페이지</a></li>
                        <li><a href="#" th:href="@{/teacher}">선생님 관리 페이지</a></li>
                    </ol>

                    <div th:if="${session.loginMember != null and #strings.equals(session.loginMember.memberType, 'STUDENT')}">
                        <span th:text="|${session.loginMember.name} 학생|"></span>
                        <a th:href="@{/edit/{id}(id=${session.loginMember.id})}">내 정보 수정</a>
                        <form method="post" action="/logout">
                            <button type="submit">로그아웃</button>
                        </form>
                    </div>

                    <div th:if="${session.loginMember != null and #strings.equals(session.loginMember.memberType, 'TEACHER')}">
                        <span th:text="|${session.loginMember.name} 선생님|"></span>
                        <a th:href="@{/teacher/edit/{id}(id=${session.loginMember.id})}">내 정보 수정</a>
                        <form method="post" action="/logout">
                            <button type="submit">로그아웃</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>