<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="~{template/layout/base_head_component :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: font-awesome-load}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: main-min-height}"></th:block>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>TIME</title>
</head>
<body>

<div>
    <!-- 헤더 시작 -->
    <th:block th:replace="~{template/layout/base_body_component :: common-body-header}"></th:block>
    <!-- 헤더 끝 -->
    <!--브레드 크럼 시작-->
    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3" id="breadcrumb">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis text-dark" href="/">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" id="breadcrumb-school">Home</li>
    </ol>
    <!--브레드 크럼 끝-->

    <!-- 사이드바 시작 -->
    <div class="container-fluid ">
        <div class="row">
            <th:block th:replace="~{template/layout/base_body_component :: common-body-sidebar}"></th:block>
            <!-- 사이드바 끝-->

            <div class="col-md-10 ">
                <div class="row">

                    <div class="col">
                        <!--검색 바 시작-->
                        <form id="searchForm" th:action="@{/search}" method="get">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                                <input name="content" type="text" class="form-control" placeholder="검색" aria-label="검색"
                                       aria-describedby="basic-addon1">
                                <input type="submit" value="검색" class="btn btn-outline-primary student__search__bar">
                            </div>
                        </form>
                        <!--검색 바 끝-->
                    </div>
                </div>

                <!--페이지 결과가 렌더링 될 부분 시작-->
                <div class="main-content">
                    <div th:text="|학교를 선택해 주세요|" class="alert alert-warning text-center">
                        데이터가 선택되지 않았습니다.
                    </div>
                </div>

                <div class="pagingNation-control">
                </div>
                <!--페이지 결과가 렌더링 될 부분 끝-->
            </div>

        </div>
    </div>
</div>

<!-- footer 시작 -->
<th:block th:replace="~{template/layout/base_body_component :: common-body-footer}"></th:block>
<!-- footer 끝 -->

<script>
    $(document).ready(function () {
        $(".school-name-link").click(function (event) {
            event.preventDefault(); // 기본 이벤트를 방지합니다.
            $("#searchForm").find("input[name='content']").val('');

            var href = $(this).attr('href'); // 클릭된 링크의 href 값을 가져옵니다.
            var schoolName = $(this).text().trim();

            $("#breadcrumb-school").text(schoolName)

            $.ajax({
                url: href, // 서버로 요청을 보낼 URL
                type: 'GET', // HTTP 요청 방식
                data: {
                    schoolName: schoolName,
                    // studentName: studentName,
                },
                success: function (response) {
                    $(".main-content").empty()
                    if (response.errorResult !== null) {
                        var errorMessage = response.errorResult.message;
                        displayErrorMessage(errorMessage);
                    } else {
                        draw(response); // 페이지 렌더링
                    }

                },
                error: function (xhr, status, error) {
                    var errorMessage = "검색 결과를 불러오는 중 오류가 발생했습니다.";
                    displayErrorMessage(errorMessage);
                }
            });
        });

        function draw(response) {
            var resultHtml =
                '<table class="table table-hover">' +
                '<thead>' +
                '    <tr>' +
                '        <th scope="col">학년</th>' +
                '        <th scope="col">이름</th>' +
                '        <th scope="col">피드백 목록</th>' +
                '    </tr>' +
                '</thead>' +
                '<tbody>';

            // 각 학생 정보에 대한 행을 추가
            $.each(response.data.content, function (index, student) {
                resultHtml +=
                    '<tr>' +
                    '    <td>' +
                    '        <a>' + student.grade + '</a>' +
                    '    </td>' +
                    '    <td>' +
                    '        <a>' + student.name + '</a>' +
                    '    </td>' +
                    '    <td>' +
                    '       <button type="button" class="btn btn-outline-primary btn-sm mb-3 me-3" onclick="location.href=\'/record/' + student.id + '\'">피드백</button>' +
                    '    </td>' +
                    '</tr>';
            });

            resultHtml += '</tbody></table>';

            // 결과 HTML을 ".main-content"에 추가
            $(".main-content").empty().append(resultHtml);

            // 페이지네이션 데이터
            $(".pagingNation-control").empty();

            var totalPages = response.data.totalPages;
            var currentPage = response.data.number;

            // 페이지네이션 HTML 초기화
            var paginationHtml = '<nav aria-label="Page navigation">\n' +
                '    <ul class="pagination justify-content-center">\n';

            // 이전 페이지 버튼
            if (currentPage > 0) { // 현재 페이지가 0보다 크면 이전 페이지가 존재
                paginationHtml += '<li class="page-item">\n' +
                    '    <a class="page-link" href="#" data-page="' + (currentPage - 1) + '">Previous</a>\n' +
                    '</li>\n';
            } else {
                paginationHtml += '<li class="page-item disabled">\n' +
                    '    <a class="page-link" href="#">Previous</a>\n' +
                    '</li>\n';
            }

            // 페이지 번호 버튼
            for (let i = 0; i < totalPages; i++) {
                if (i === currentPage) {
                    paginationHtml += '<li class="page-item active"><a class="page-link" href="#" data-page="' + i + '">' + (i + 1) + '</a></li>\n';
                } else {
                    paginationHtml += '<li class="page-item"><a class="page-link" href="#" data-page="' + i + '">' + (i + 1) + '</a></li>\n';
                }
            }

            // 다음 페이지 버튼
            if (currentPage < totalPages - 1) { // 현재 페이지가 마지막 페이지보다 작으면 다음 페이지가 존재
                paginationHtml += '<li class="page-item">\n' +
                    '    <a class="page-link" href="#" data-page="' + (currentPage + 1) + '">Next</a>\n' +
                    '</li>\n';
            } else {
                paginationHtml += '<li class="page-item disabled">\n' +
                    '    <a class="page-link" href="#">Next</a>\n' +
                    '</li>\n';
            }

            paginationHtml += '    </ul>\n' +
                '</nav>';

            // 페이지네이션 HTML을 페이지에 추가
            $(".pagingNation-control").append(paginationHtml);

            // 페이지네이션 링크에 클릭 이벤트 추가
            $(".pagination").on("click", "a.page-link", function (event) {
                event.preventDefault(); // 기본 이벤트 방지
                var page = $(this).data("page"); // 클릭된 페이지 번호 가져오기
                console.log(page);
                // 페이지 번호를 사용하여 새로운 데이터 요청
                // 예: 새 페이지 데이터 로드 함수를 호출
                var schoolName = $("#breadcrumb-school").text().trim(); // Breadcrumb에서 학교 이름 가져오기
                var studentName = $("#searchForm").find("input[name='content']").val();

                // AJAX 요청을 날립니다.
                $.ajax({
                    url: "/school", // 요청을 보낼 서버의 URL 주소
                    type: "GET", // HTTP 요청 방법 (GET, POST 등)
                    data: {
                        schoolName: schoolName,
                        studentName: studentName,
                        page: page
                    }, // 서버로 보낼 데이터
                    dataType: "json", // 서버에서 보내줄 데이터의 타입 (xml, json, script, html)
                    success: function (response) {
                        console.log("Data loaded successfully");
                        draw(response);
                    },
                    error: function (xhr, status, error) {
                        // 요청이 실패하면 이 부분이 실행됩니다.
                        console.error("Error: " + error);
                    }
                });
            });
        }


        $("#searchForm").submit(function (event) {
            event.preventDefault(); // 폼 제출 기본 동작을 중지합니다.
            var schoolName = $("#breadcrumb-school").text().trim(); // Breadcrumb에서 학교 이름 가져오기
            var studentName = $("#searchForm").find("input[name='content']").val();
            var url = $(this).attr('action'); // 폼의 액션 URL을 가져옵니다.

            if (!schoolName.includes('학교')) {
                return;
            }

            $.ajax({
                url: url,
                type: 'GET',
                data: {
                    schoolName: schoolName,
                    studentName: studentName
                },
                dataType: 'json',
                success: function (response) {
                    if (response.errorResult !== null) {
                        $(".pagingNation-control").empty();
                        var errorMessage = response.errorResult.message;
                        displayErrorMessage(errorMessage);
                    } else {
                        draw(response);
                    }
                },
                error: function (xhr, status, error) {
                    var errorMessage = "검색어를 입력하지 않습니다.";
                    displayErrorMessage(errorMessage);
                }
            });
        });

        function displayErrorMessage(message) {
            $(".pagingNation-control").empty();

            var errorHtml = '<div class="alert alert-danger text-center">' + message + '</div>';
            $(".main-content").html(errorHtml);
        }
    });

    document.querySelectorAll('.nav-link').forEach(item => {
        item.addEventListener('click', function () {
            // 모든 nav-link에서 active 클래스 제거
            document.querySelectorAll('.nav-link').forEach(nav => {
                nav.classList.remove('active');
            });

            // 클릭된 항목에 active 클래스 추가
            this.classList.add('active');
        });
    });

</script>

</body>
</html>