<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>TIME 홈페이지</h1>


    <p>Please select an option</p>
    <ol>
        <li><a href="record/recordList.html" th:href="@{/record/{id}}">학생에 대한 레코드 리스트 화면 개발 페이지 바로가기</a></li>
        <li><a href="/login">로그인 페이지</a></li>
        <li><a href="#" th:href="@{/}">링크 추가하기</a></li>
        <li><a href="#" th:href="@{/}">링크 추가하기</a></li>
    </ol>
</body>
</html>