<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{template/layout/base_head_component.html :: common-header}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: field-error-style}"></th:block>
    <th:block th:replace="~{template/layout/base_head_component :: form-check-label-bold-style}"></th:block>
    <title>아이디 찾기</title>
</head>
<body>
<!-- 헤더 시작 -->
<th:block th:replace="~{template/layout/base_body_component :: common-body-header}"></th:block>
<!-- 헤더 끝 -->
<div class="w-50 container-sm p-3 border border-primary-subtle border-3 rounded position-absolute top-50 start-50 translate-middle">
    <div>
        <h2>아이디 찾기</h2>
    </div>
    <!-- 아이디 찾기 폼-->
    <form action="/student/findid/result" th:object="${findIdDto}" method="get" onsubmit="return valid()">
        <input type="hidden" id="searchType" value="USERID">
        <div class="d-flex flex-column justify-content-center mb-3">
            <label for="name" class="form-check-label mb-1">이름</label>
            <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요." th:field="*{name}" th:errorclass="field-error">
            <div th:class="field-error" th:errors="*{name}">이름 오류 메시지</div>
            <div><span id="name_error"></span></div>
        </div>
        <div class="d-flex flex-column justify-content-center mb-3">
            <label for="email" class="form-check-label mb-1">이메일</label>
            <div class="input-group">
                <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요." th:field="*{email}" th:errorclass="field-error">
                <button class="btn btn-outline-primary ml-2" id="checkEmail" type="button">이메일 전송</button>
            </div>
            <div th:class="field-error" th:errors="*{email}">이메일 오류 메시지</div>
            <div id="emailHelp" class="form-text">회원가입 때 작성했던 이메일을 작성해주세요. <br>이름과 이메일이 일치하지 않으면 전송되지 않습니다.</div>
            <div><span id="result_emailSend"></span></div>

        </div>
        <div id="verificationSection" style="display: none;">
            <label for="authCode" class="form-check-label mb-1">인증번호</label>
            <div class="input-group">
                <input type="text" class="form-control" id="authCode" placeholder="인증번호를 입력하세요.">
                <button class="btn btn-outline-success ml-2" id="verifyCode" type="button">인증 확인</button>
            </div>
            <div><span id="result_authCode"></span></div>
        </div>
        <button type="submit" class="btn btn-primary">아이디 찾기</button>
        <hr>
        <button type="button" class="btn btn-outline-primary ml-2" onclick="location.href='/login'">로그인</button>
        <button type="button" class="btn btn-outline-primary ml-2" onclick="location.href='/student/findpwd'">비밀번호 찾기</button>
    </form>
</div>

</body>
</html>


<!-- 이메일 전송 ajax -->
<script>
    $("#checkEmail").click(function () {
        var button = this;
        button.disabled = true; // 버튼을 비활성화시킵니다.
        button.innerText = '전송 중'; // 사용자에게 상태를 알립니다.

        let userName = $("#name").val();
        let userEmail = $("#email").val();
        let searchType = $("#searchType").val();


        $.ajax({
            type: "POST",
            url: "/mailSend",
            data: {
                "name": userName,
                "email": userEmail,
                "searchType": searchType
            },
            success: function (res) {
                $("#name_error").empty();
                $("#result_emailSend").html('이메일 전송이 완료되었습니다.').css("color", "green");
                // 메일 발송 성공 후 인증번호 입력 부분을 보여줍니다.
                button.innerText = '이메일 보내기'; // 버튼 텍스트를 원래대로 돌립니다.
                $("#verificationSection")
                    .css("display", "flex")
                    .addClass("d-flex flex-column justify-content-center mb-3");
            },error: function(error) {
                console.log(error)
                // 영역을 초기화 한 후에 에러 메시지를 출력.
                $("#name_error").empty();
                $("#result_emailSend").empty();

                button.innerText = '이메일 전송'; // 사용자가 다시 시도할 수 있도록 버튼 텍스트를 변경합니다.
                button.disabled = false; // 처리가 완료되면 버튼을 다시 활성화시킵니다.

                if (error.responseJSON && Array.isArray(error.responseJSON)) {
                    error.responseJSON.forEach(function(err) {
                        // 각 오류에 대한 처리
                        if (err.code == "name") {
                            $("#name_error").html(err.message).css("color", "red");
                        }
                        if (err.code == "email") {
                            // 여러 이메일 오류 메시지가 있을 수 있으므로, 이를 적절히 처리
                            $("#result_emailSend").append($('<div>').text(err.message).css("color", "red"));
                        }
                    });
                } else {

                    if (error.responseJSON.code == "name"){
                        $("#name_error").html(err.message).css("color", "red");
                    }else if (error.responseJSON.code == "email"){
                        // 여러 이메일 오류 메시지가 있을 수 있으므로, 이를 적절히 처리
                        $("#result_emailSend").append($('<div>').text(err.message).css("color", "red"));
                    }else{
                        $("#result_emailSend").html(error.responseJSON.message).css("color", "red");
                    }
                }

                submitCheckId = false;
            }

        })
    })
</script>
<!-- 인증코드 검증 -->
<script>
    var submitAuthCode = false;

    $("#verifyCode").click(function () {
        let authCode = $("#authCode").val();
        let userEmail = $("#email").val();

        $.ajax({
            type: "POST",
            url: "/mailAuthCheck",
            data: {
                "authCode": authCode,
                "email": userEmail
            },
            success: function (res) {
                $("#result_authCode").html(res).css("color", "green");
                submitAuthCode = true;
            },error: function(error){
               // 인증 실패한 경우 처리
                $("#result_authCode").html(error.responseJSON.message).css("color", "red");
                $("#authCode").trigger("focus");
                if (error.responseJSON && Array.isArray(error.responseJSON)) {
                    error.responseJSON.forEach(function(err) {
                        // 각 오류에 대한 처리
                        if (err.code == "authCode") {
                            $("#result_authCode").html(err.message).css("color", "red");
                        }
                        if (err.code == "email") {
                            // 여러 이메일 오류 메시지가 있을 수 있으므로, 이를 적절히 처리
                            $("#result_emailSend").append($('<div>').text(err.message).css("color", "red"));
                        }
                    });
                } else {
                    if (error.responseJSON.code == "authCode"){
                        $("#result_authCode").html(err.message).css("color", "red");
                    }else if (error.responseJSON.code == "email"){
                        // 여러 이메일 오류 메시지가 있을 수 있으므로, 이를 적절히 처리
                        $("#result_emailSend").append($('<div>').text(err.message).css("color", "red"));
                    }
                }
                submitAuthCode = false;
            }
        })
    })
</script>
<script>
    function valid() {
        var isValid = true; // 유효성 검사 결과를 저장할 변수
        if (submitAuthCode == false){
            alert("이메일 인증이 진행되지 않았습니다. \n이메일 인증을 진행한 후 아이디 찾기를 진행 해주세요.");
            $("#email").trigger("focus");
            return false;
        }
    }
</script>